.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
}
.contour{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  padding-top:5px;
}

.hr{
  width:130px;
  height:1px;
  background-color: rgba(0, 0, 0, 0.1);
}
/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.authBtns {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  max-width: 320px;
  margin-top: 10px;
  width: 100%;
  border-radius: 20px;
  border:1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0px;
  font-size: 1em;
  text-align: center;
  background: white;
  cursor: pointer;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border:1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 1em;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 1em;
  text-decoration: underline;
}